# GitHub repository URL
# Get from: GitHub Repository -> Code -> HTTPS
GITHUB_URL=https://github.com/<USERNAME>/<REPOSITORY>

# GitHub Actions runner registration token
# Get from:
# Repository -> Settings -> Actions -> Runners -> New self-hosted runner -> Linux -> X64 -> Configure -> Copy the token from the command after --token
# Token expires after 1 hour.
GITHUB_TOKEN=<YOUR_RUNNER_REGISTRATION_TOKEN>

# Runner name
# Any unique name you want
RUNNER_NAME=GitHubActionsDemo

# Runner labels
# Must match the label used in workflow: runs-on
RUNNER_LABELS=self-hosted,Linux,X64,GitHubActionsDemo-runner

# GitHub Actions runner version
# Check: https://github.com/actions/runner/releases
RUNNER_VERSION=2.337.0

# Runner architecture
RUNNER_ARCH=x64

# Runner working directory
RUNNER_WORK_FOLDER=_work
